.DS_Store
alacritty/
btop/
configstore/
csharp.history
fish/
flipper/
gcloud/
gem/
gh/
gitui/
google/
iterm2/
lazydocker/
nvim_backup/
nvim_lazystarter/
pudb/
raycast/
shopify/
stripe/
yarn/
zed/
zsh/

AstroVim/
LazyVim/
NvChad/
kickstart/
